@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "Over-There";
  src: url("../fonts/OverThere.eot");
  src: url("../fonts/OverThere.eot?#iefix") format("embedded-opentype"), url("../fonts/OverThere.woff2") format("woff2"),
    url("../fonts/OverThere.woff") format("woff"), url("../fonts/OverThere.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
