// Colors
$primary-color: #51e8ef;

// Fonts
$fontMain: "Bebas Neue", cursive;
$fontoverthere: "Over-There";

// Breakpoints
$breakout1200: 1200px;
$breakout1024: 1024px;
$breakout991: 991px;
$breakout767: 767px;
$breakout576: 576px;

$memberFHeight: 612px;
