.footer {
  text-align: center;
  padding: 125px 0 265px;

  p {
    font-size: 60px;
    line-height: 65px;
    margin: 123px 0 79px;
  }

  form {
    max-width: 464px;
    margin: auto;

    button {
      background-color: transparent;
      margin-top: 24px;
    }
  }
}
